<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kirkbushman.largeimageview.sampleapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.BasicActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".activities.ZoomActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".activities.ImageControlActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".activities.AnimFirstActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TransitionTheme" />

        <activity android:name=".activities.AnimSecondActivity"
            android:parentActivityName=".activities.AnimFirstActivity"
            android:theme="@style/TransitionTheme" />


    </application>
</manifest>
